@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Common Component Styles */
	.container {
		@apply max-w-screen-xl mx-auto;
	}

	/* Header Component Styles */
	.header {
		@apply bg-white sticky top-0 left-0 w-full py-3 shadow bg-opacity-10 border-b border-white border-opacity-20 z-10;
		backdrop-filter: blur(1rem);
	}

	.header .container {
		@apply flex items-center justify-between;
	}

	.header-brand {
		@apply flex items-center gap-1 cursor-pointer;
	}

	.header-brand img {
		@apply h-[52px] w-auto;
	}

	.header-brand h1 {
		@apply text-2xl font-bold text-slate-900;
	}

	.header-menus {
		@apply flex items-center gap-5;
	}

	.header-menus a {
		@apply text-lg font-medium px-2 py-1 text-slate-600 hover:text-slate-900 cursor-pointer;
	}

	/* Footer Component Styles */
	.footer {
		@apply bg-white py-4 shadow bg-opacity-80 border-t border-white border-opacity-80;
		backdrop-filter: blur(1rem);
	}

	.footer .container {
		@apply flex items-center justify-center text-center text-slate-600 font-normal text-sm;
	}

	.footer .container a {
		@apply font-medium text-slate-900 cursor-pointer ml-1 hover:text-blue-500;
	}

	/* Details Page Styles */
	.details {
		@apply pb-10 relative pt-[125px] min-h-screen;
	}

	.thumbnail {
		@apply w-full h-[250px] object-cover fixed top-[77px] z-[1];
	}

	.details .container {
		@apply z-[2] relative bg-white shadow rounded-2xl p-6;
	}

	.info-area {
		@apply flex items-center justify-between;
	}

	.info-left {
		@apply flex items-center gap-8;
	}

	.profile {
		@apply flex items-center gap-3 font-medium text-slate-600 hover:text-slate-900;
	}

	.profile img {
		@apply h-9 w-auto object-cover rounded-full;
	}

	.date {
		@apply flex items-center gap-2 text-slate-900;
	}

	.date svg {
		@apply text-slate-500;
	}

	.info-right {
		@apply flex items-center gap-4;
	}

	.info-right button {
		@apply bg-slate-900 flex items-center justify-center text-white h-9 w-20 rounded-md hover:opacity-[0.85];
	}

	.info-right button svg {
		@apply h-5 w-auto;
	}

	.info-right button:nth-child(2) {
		@apply bg-blue-500;
	}

	.preview {
		@apply pt-6;
	}

	.preview h1,
	.preview h2,
	.preview h3,
	.preview h4,
	.preview h5,
	.preview h6 {
		border: 0 !important;
	}

	.not-found {
		@apply flex items-center justify-center min-h-[calc(100vh_-_130px)];
	}

	.not-found .container {
		@apply flex flex-col gap-4 text-center items-center justify-center;
	}

	.not-found h1 {
		@apply text-6xl font-bold text-violet-500;
	}

	.not-found p {
		@apply text-xl font-medium text-slate-800;
	}
}
