@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Common Component Styles */
	.container {
		@apply max-w-screen-xl mx-auto;
	}

	/* Header Component Styles */
	.header {
		@apply bg-white dark:bg-[#152525] sticky top-0 left-0 w-full py-3 shadow bg-opacity-10 border-b border-white dark:border-[#203030] border-opacity-20 z-10 section;
		backdrop-filter: blur(1rem);
	}

	.header .container {
		@apply flex items-center justify-between;
	}

	.header-brand {
		@apply flex items-center gap-1 cursor-pointer;
	}

	.header-brand img {
		@apply h-[52px] w-auto;
	}

	.header-brand h1 {
		@apply text-2xl font-bold text-slate-900 dark:text-slate-50;
	}

	.header-menus {
		@apply hidden sm:flex items-center gap-10;
	}

	.header-menus a {
		@apply hidden sm:inline-block font-medium text-slate-600 dark:text-slate-300 hover:text-slate-900 dark:hover:text-slate-100 select-none cursor-pointer;
	}

	.header-theme {
		@apply h-[30px] w-[60px] bg-slate-300 dark:bg-[#253535] rounded-3xl relative;
	}

	.header-theme span {
		@apply absolute top-1/2 -translate-y-1/2 h-[22px] w-[22px] rounded-full bg-white dark:bg-slate-600 flex items-center justify-center left-[5px] dark:left-[33px];
		transition: 0.25s ease;
	}

	.header-theme span svg {
		@apply h-4 w-auto dark:text-slate-100;
	}

	/* Mobile Menus Styles */
	.mobile-menus {
		@apply sm:hidden relative;
	}

	.mobile-menus .hamburger {
		@apply w-12 h-8 flex items-center justify-center;
	}

	.mobile-menus .hamburger.active {
		@apply scale-90;
	}

	.mobile-menus .hamburger span {
		@apply h-[3px] w-9 rounded-2xl bg-slate-700 dark:bg-slate-200 relative;
		transition: 0.25s ease;
	}

	.mobile-menus .hamburger.active span {
		@apply bg-transparent;
	}

	.mobile-menus .hamburger span::before,
	.mobile-menus .hamburger span::after {
		@apply absolute left-0 h-full w-full bg-slate-700 dark:bg-slate-200 rounded-2xl;
		content: '';
		transition: 0.25s ease;
	}

	.mobile-menus .hamburger span::before {
		@apply -top-[9px];
	}

	.mobile-menus .hamburger.active span::before {
		@apply rotate-45 top-0;
	}

	.mobile-menus .hamburger span::after {
		@apply -bottom-[9px];
	}

	.mobile-menus .hamburger.active span::after {
		@apply -rotate-45 bottom-0;
	}

	.mobile-menus .header-menus {
		@apply flex absolute top-full mt-[23px] right-0 flex-col items-end gap-4 bg-white dark:bg-[#203030] w-[calc(100vw_-_24px)] p-4 py-6 shadow-lg rounded-b-xl overflow-hidden;
		clip-path: circle(0% at top right);
		transition: 0.25s ease;
	}

	.mobile-menus.active .header-menus {
		clip-path: circle(100% at top center);
	}

	.mobile-menus .header-menus a {
		@apply inline-block;
	}

	.mobile-menus .header-menus .header-theme {
		@apply dark:bg-[#152020];
	}

	/* Footer Component Styles */
	.footer {
		@apply bg-white dark:bg-[#152525] py-4 shadow bg-opacity-80 border-t border-white dark:border-[#203030] border-opacity-80 section;
		backdrop-filter: blur(1rem);
	}

	.footer .container {
		@apply flex flex-wrap items-center justify-center text-center text-slate-600 dark:text-slate-300 font-normal text-sm;
	}

	.footer .container a {
		@apply font-medium text-slate-900 dark:text-slate-100 cursor-pointer ml-1 hover:text-blue-500 dark:hover:text-blue-500;
	}

	/* Details Page Styles */
	.details {
		@apply pb-10 relative pt-[80px] md:pt-[100px] lg:pt-[125px] min-h-screen;
	}

	.details-page {
		@apply section;
	}

	.thumbnail {
		@apply w-full h-[175px] md:h-[200px] lg:h-[250px] object-cover fixed top-[77px] z-[1];
	}

	.details .container {
		@apply z-[2] relative bg-white dark:bg-[#152525] shadow rounded-2xl p-6 md:p-8;
	}

	.info-area {
		@apply flex flex-wrap gap-4 items-center justify-between;
	}

	.info-left {
		@apply flex flex-wrap items-center gap-4 sm:gap-6 md:gap-8;
	}

	.profile {
		@apply flex items-center gap-3 font-medium text-slate-600 dark:text-slate-200 hover:text-slate-900 dark:hover:text-slate-100;
	}

	.profile img {
		@apply h-12 w-auto aspect-square object-cover rounded-full;
	}

	.date {
		@apply flex items-center gap-2 text-slate-900 dark:text-slate-200;
	}

	.date svg {
		@apply text-slate-500 dark:text-slate-200;
	}

	.info-right {
		@apply flex items-center gap-4;
	}

	.info-right button {
		@apply bg-slate-900 dark:bg-white flex items-center justify-center text-white dark:text-slate-900 h-9 min-w-[80px] px-4 rounded-md hover:opacity-[0.85];
	}

	.info-right button svg {
		@apply h-5 w-auto;
	}

	.info-right > :nth-child(2) button {
		@apply bg-blue-500 dark:text-white;
	}

	.share-window {
		@apply absolute top-full right-0 bg-white dark:bg-[#121818] shadow-lg rounded-xl mt-2 p-2;
	}

	.share-window .link {
		@apply py-[5px] px-3 hover:bg-slate-100 dark:hover:bg-[#152525] text-[15px] flex items-center gap-2 text-slate-800 dark:text-slate-200 whitespace-nowrap rounded-md pr-4 cursor-pointer;
	}

	.share-window .link svg {
		@apply h-[15px] w-auto text-inherit;
	}

	.preview {
		@apply pt-6 text-slate-900 dark:text-slate-200;
	}

	.preview * {
		@apply !font-sans;
	}

	.preview h1,
	.preview h2,
	.preview h3,
	.preview h4,
	.preview h5,
	.preview h6 {
		@apply !border-none !mb-2;
	}

	/* Not Found Page Styles */
	.not-found {
		@apply flex items-center justify-center min-h-[calc(100vh_-_130px)];
	}

	.not-found .container {
		@apply flex flex-col gap-4 text-center items-center justify-center;
	}

	.not-found h1 {
		@apply text-6xl font-bold text-violet-500;
	}

	.not-found p {
		@apply text-xl font-medium text-slate-800 dark:text-slate-200;
	}

	/* Editor Page Styles */
	.editor {
		@apply py-8 min-h-screen section;
	}

	.editor .container {
		@apply bg-white dark:bg-[#152525] shadow rounded-2xl p-6 md:p-8;
	}

	.editor-header {
		@apply flex flex-wrap gap-4 items-center justify-between mb-10;
	}

	.editor-header h1 {
		@apply text-2xl font-bold text-slate-800 dark:text-slate-200;
	}

	.editor-buttons {
		@apply flex items-center gap-4;
	}

	.editor-buttons button {
		@apply bg-slate-900 dark:bg-white flex items-center justify-center text-white dark:text-slate-900 h-9 w-20 rounded-md hover:opacity-[0.85];
	}

	.editor-buttons button:nth-child(2) {
		@apply bg-blue-500 dark:text-white;
	}

	.editor-buttons button svg {
		@apply h-5 w-auto;
	}

	.info-inputs {
		@apply flex flex-col gap-4;
	}

	.input-group {
		@apply grid md:grid-cols-2 gap-4;
	}

	.input {
		@apply h-10 w-full rounded-lg bg-slate-50 dark:bg-[#152020] px-4 text-slate-900 dark:text-slate-100 outline-none dark:outline-none border border-slate-200 dark:border-slate-700 focus:ring-1 ring-slate-400 dark:ring-slate-500 ring-offset-2 dark:ring-offset-[#152525] transition;
	}

	.input.file {
		@apply flex items-center justify-between gap-3 pr-0 overflow-hidden;
	}

	.input.file p {
		@apply line-clamp-1;
	}

	.input.file button {
		@apply h-full px-4 flex items-center justify-center bg-violet-500 text-slate-200 hover:opacity-90 shrink-0 whitespace-nowrap;
	}

	.editor-preview {
		@apply mt-8;
	}

	.editor-preview * {
		@apply !font-sans;
	}

	.w-md-editor-text * {
		@apply !font-sans;
	}

	.input-box {
		@apply relative;
	}

	.input-icon {
		@apply absolute top-1/2 -translate-y-1/2 right-2 cursor-pointer;
	}

	.input-box .input {
		@apply pr-8;
	}

	.input-icon svg {
		@apply h-5 w-auto text-slate-700 dark:text-slate-300;
	}

	.success svg {
		@apply text-green-500 dark:text-green-500;
	}

	.error svg {
		@apply text-red-500 dark:text-red-500;
	}

	/* Loading Page Styles */
	.loader {
		@apply h-screen w-full overflow-hidden fixed top-0 left-0 z-50 bg-white dark:bg-[#152525] flex items-center justify-center;
	}

	.loader .content {
		@apply flex flex-col gap-4 items-center justify-center text-center;
	}

	.loader h1 {
		@apply text-2xl font-bold text-slate-800 dark:text-slate-100;
	}

	/* Blog List Page Styles */
	.list-page {
		@apply py-8 section min-h-screen;
	}

	.list-page .container {
		@apply flex flex-col gap-4;
	}

	/* Blog Card Styles */
	.blog-card {
		@apply p-4 bg-white dark:bg-[#152525] rounded-xl shadow hover:shadow-md transition;
	}

	.blog-card .top-area {
		@apply grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 lg:gap-4 items-center text-sm text-slate-600 dark:text-slate-300;
	}

	.blog-card .top-area p span {
		@apply font-medium;
	}

	.blog-card .top-area > *:last-child {
		@apply lg:text-right;
	}

	.blog-card .top-area > *:nth-child(3) {
		@apply hidden xl:block;
	}

	.blog-card .user-area {
		@apply flex items-center gap-2;
	}

	.blog-card .user-area img {
		@apply h-8 w-auto aspect-square object-cover rounded-full;
	}

	.blog-card .user-area h3 {
		@apply font-medium;
	}

	.blog-card h1 {
		@apply font-medium text-slate-800 dark:text-slate-200 leading-tight mt-4 line-clamp-2;
	}
}

@layer utilities {
	body {
		@apply bg-slate-100 dark:bg-[#121818];
	}

	button {
		@apply text-sm;
	}

	button:disabled {
		@apply opacity-50 cursor-default pointer-events-none;
	}

	*::-webkit-scrollbar {
		@apply w-0 sm:w-[7px];
	}

	*::-webkit-scrollbar-thumb {
		@apply bg-slate-400 dark:bg-[#304040] rounded-2xl;
	}

	*::-webkit-scrollbar-track {
		@apply bg-white dark:bg-[#152525];
	}

	.section {
		@apply px-3 sm:px-4 md:px-5 lg:px-6 xl:px-8 2xl:px-0;
	}
}
